# LaTeX build intermediates
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.figlist
*.makefile
*.auxlock
*.synctex(busy)
*.pdfsync

# LaTeX package-specific files
*.alg
*.loa
*.acn
*.acr
*.glg
*.glo
*.gls
*.ist
*.lol
*.nlg
*.nlo
*.nls
*.slg
*.slo
*.sls
*.tdo
*.tld
*.tlg
*.tli
*.tls
*.xdy
*.xdv
